target/
test/test_crud/mnt/
test/test_dbro/mnt/
test/test_dbro/cache/
test/test_hg/mnt/
test/test_hg/cache/
test/test_hg/.*
test/test_git/mnt/
test/test_git/cache/
test/test_git/.*
*.swp
src/.vs
src/*.exe
src/*.obj
src/*.idb
src/*.ilk
src/*.pdb
src/ic.wxs
.vs/