<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
      
  <Bundle Name="ddlfs Bundle" Version="3.0.0.0" Manufacturer="usrecnik" 
          UpgradeCode="39a6a88d-c944-4118-a224-f70f5d02d82f">
     
    <BootstrapperApplication>
        <bal:WixStandardBootstrapperApplication LicenseUrl="https://github.com/usrecnik/ddlfs/blob/master/LICENSE" Theme="hyperlinkLicense" />
    </BootstrapperApplication>
    
    <Chain>
      <MsiPackage SourceFile="ddlfs-installer.msi" Vital="yes" />
      <MsiPackage SourceFile="dokan_x64_2_2_0_1000.msi" Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
